@import 'variables';

@mixin no-background-image {
  background-image: none !important;
}

@mixin forecolor-white {
  color: $white;
}

div.main-header,
footer.site-footer {
  display: none;
}

.nav-list-link,
svg.icon  {
  @include forecolor-white();
}


.site-header {
  border: none !important;
}

.site-title.lh-tight {
  @include no-background-image();
}

.nav-list .nav-list-item .nav-list-link:hover, 
.nav-list .nav-list-item .nav-list-link.active {
  @include no-background-image();
  background-color: $blue-200;
}

@media (min-width: 66.5rem) { 
  div.side-bar {
    width: auto;
  }
}